<!-- contact_success.html -->

{% extends "core/contact.html" %}

{% block content %}
<section class="contact_section layout_padding">
  <div class="custom_heading-container">
    <h3 class=" ">
      ¡Gracias por tu consulta!
    </h3>
  </div>
  <div class="container layout_padding2-top">
    <p>Hemos recibido tu mensaje y nos pondremos en contacto contigo pronto.</p>
  </div>
</section>
{% endblock %}

{% block info_section %}{% endblock info_section %}
{% block footer %}{% endblock footer %}
