{% extends "core/index.html" %}
{% load static %} 

  <!-- service section -->
{% block body %}
  
<section class="service_section layout_padding-bottom">
  <div class="container">
    <div class="custom_heading-container">
      <h3 class=" ">
        Nuestros servicios
      </h3>
    </div>
    <p class="">
      Dentro de nuestro equipo con contamos con profesionales prestos para asesorarte en varios servicios como
    </p>
    <div class="service_container ">
      <div class="row">
        <div class="col-md-3">
          <div class="box b-1">
            <div class="img-box">
              <img src="{% static 'images/libro.gif' %}" alt="biblioteca">
            </div>
            <div class="detail-box">
              <h6>
                Biblioteca
              </h6>
              <p>
                una selecta recopilación de ejemplares que puedes revisar
              </p>
              <div class="btn-box">
                <a href="">
                  ------
                </a>
                <hr>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box b-2">
            <div class="img-box">
              <img src="{% static 'images/base-de-datos.gif' %}" alt="base de datos">
            </div>
            <div class="detail-box">
              <h6>
                Base de datos
              </h6>
              <p>
                el repositorio de datos util para tus proyectos
              </p>
              <div class="btn-box">
                <a href="">
                  -----
                </a>
                <hr>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box b-3">
            <div class="img-box">
              <img src="{% static 'images/tutoria-en-linea.gif' %}" alt="tutoria-en-linea">
            </div>
            <div class="detail-box">
              <h6>
                Tutorías 
              </h6>
              <p>
                personal docente capacitado para resolver tus dudas o inquietudes
              </p>
              <div class="btn-box">
                <a href="">
                  ------
                </a>
                <hr>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box b-4">
            <div class="img-box">
              <img src="{% static 'images/megafono.gif' %}" alt="megafono">
            </div>
            <div class="detail-box">
              <h6>
                Anuncios
              </h6>
              <p>
                permanece atento a nuestras actividades
              </p>
              <div class="btn-box">
                <a href="">
                  ------
                </a>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
  <!-- end service section -->
