.login_logo {
    max-width: 100%;
    /* Ajuste este valor según el tamaño deseado */
    height: auto;
    /* Mantiene la proporción de la imagen */
}

.login_logo img {
    max-width: 200px;
    /* Esto asegura que la imagen no sea más grande que su contenedor */
    height:auto;
}


.login-box .login-logo img {
    max-width: 150px;
    /* Ajuste este valor según el tamaño deseado */
    height: auto;
}