.btn-primary,
.btn-outline-primary {
  border-radius: 20px;
  padding: 8px 20px;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #ff6b00;
  border-color: #ff6b00;
}

.btn-outline-primary {
  color: #ff6b00;
  border-color: #ff6b00;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #d55d21;
  border-color: #e65c00;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/*BOTONES DE INICIO Y REGISTRO*/





body {
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

.custom_heading-container h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #0b1635;
  position: relative;
}

.custom_heading-container h3::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 50px;
  height: 7px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #e2511df9;
  border-radius: 15px;
}

.btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
}

.btn-box a {
  color: #1d1d1d;
  margin-right: 15px;
  font-size: 18px;
}

/*
.btn-box hr {
  width: 75px;
  height: 1.2px;
  border: none;
  background-color: #464646;
  margin: 0;
}
    */

/*header section*/
.sub_page .hero_area {
  height: auto;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  position: fixed;
  background-color: #0b1635;
  font-family: "Poppins", sans-serif;
  width: 100%;
  z-index: 1000;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.custom_nav-container .navbar-nav .nav-item .nav-link::before {
  content: "";
  display: none;
  position: absolute;
  bottom: 7px;
  left: 50%;
  width: 17px;
  height: 4px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #d84524;
  border-radius: 5px;
}

.custom_nav-container .navbar-nav .nav-item .nav-link:hover::before {
  display: block;
}

.custom_nav-container .navbar-nav .nav-item.active a::before {
  display: block;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 290px;
  margin-right: 10px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 42px;
}

/*end header section*/



.container-all {
  position: relative;
  max-width: 100%;
  width: 1000%;
  margin-bottom: 50px;
  border-radius: 2%;
  overflow: hidden;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  
}

/* Movimiento de las imágenes 
.slider {
  display: flex;
  transform: translate(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: calc(5s * {{ carrusell_length }});
  animation-timing-function: ease-in-out;
  animation-direction: infinite;
  max-width: 100%;
  height: 100%;
  /* Hacemos que el slider ocupe todo el ancho del contenedor 
}
*/
.item-slider {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  flex: 0 0 100%;
  /* Cada imagen ocupa 100% del ancho */
  max-width: 100%;
  /* Aseguramos que cada imagen ocupe todo el ancho */
 
}


.slider img {
  max-width: 100%;
  /* Asegura que la imagen no exceda el ancho del contenedor */
  max-height: 400px;
  height: auto;
  object-fit: cover;
}

.pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pagination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}


/* Animación del cursor */
.pagination-item:hover {
  transform: scale(1.5);
}

.pagination-item img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

/* Para mostrar las imágenes del icono cuando se pase el cursor */
.pagination-item:hover img {
  opacity: 1;
  transform: scale(1);
}

/* Al momento de dar click esa animación se va a eliminar */


/* Para cuando de click el botón se ponga en blanco */




/* Para que el icono me dirija a las imágenes */













/* slider section */
.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .img-box img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}




.slider_section .detail-box h1 {
  font-weight: bold;
  font-size: 4rem;
  color: #1a2e35;
}

.slider_section .detail-box h1 span {
  color: #ff4f5a;
}

.slider_section .slider_nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}




/* end slider section */


.about_section {
  text-align: center;
}

.img-box.layout_padding2 {
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
    /* Espacio entre las imágenes */
.logo-imago {
    width: 200px;
    max-width: 60%;
    height: auto;
}

.logo-economia {
    width: 100%;
    max-width: 40%;
    height: auto;
}
.logo-odeme-index {
  width: 500px;
  max-width: 100%;
  height: auto;
}






.service_section {
  text-align: center;
  position: relative;
}

.service_section .custom_heading-container {
  margin-bottom: 15px;
}

.service_section .service_container {
  padding: 45px 0 75px 0;
}

.service_section .box.b-2 .detail-box {
  width: 60%;
  text-align: right;
  overflow: hidden;
}

.service_section .box.b-2 .detail-box p {
  height: 52px;
  overflow: hidden;
}

.service_section .box.b-2 .detail-box a {
  min-width: 100px;
}

.service_section .box.b-3 .detail-box {
  width: 70%;
  margin-left: auto;
  overflow: hidden;
  text-align: left;
}

.service_section .box.b-3 .detail-box p {
  height: 52px;
  overflow: hidden;
}

.service_section .box.b-3 .detail-box a {
  min-width: 100px;
}

.service_section .img-box img {
  height: 200px;
}

.service_section .detail-box {
  height: 118px;
  margin-top: 10px;
}

.service_section .detail-box h6 {
  font-weight: bold;
}

.service_section .detail-box .btn-box a {
  color: #ff4f5a;
}

.service_section .detail-box .btn-box hr {
  background-color: #ff4f5a;
}

.service_section::before {
  content: "";
  width: 200px;
  height: 175px;
  position: absolute;
  bottom: 95px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-size: cover;
}

.work_section {
  background-color: #f25900;
}

.work_section .custom_heading-container h3 {
  color: #ffffff;
}

.work_section .custom_heading-container h3::before {
  background-color: #ffffff;
}

.work_section .work_container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 45px 0;
}
.work_section .work_container .box{
  width: 18%;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 0 20px 0;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 15px;
  /* Espacio alrededor de cada caja */
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}




/* Animaciones específicas para cada caja basada en su índice   
.work_section .work_container .box-1 {
  animation: odd-box-animate 1.5s ease-in-out infinite;
}

.work_section .work_container .box-2 {
  animation: even-box-animate 1.5s ease-in-out infinite;
}

.work_section .work_container .box-3 {
  animation: odd-box-animate 1.5s ease-in-out infinite;
}

.work_section .work_container .box-4 {
  animation: even-box-animate 1.5s ease-in-out infinite;
}


 Ajustes de posición para cada caja basada en su índice 
.work_section .work_container .box-1 {
  order: 1;
}

.work_section .work_container .box-2 {
  order: 2;
}

.work_section .work_container .box-3 {
  order: 3;
}

.work_section .work_container .box-4 {
  order: 4;
}
*/

/*
.work_section .work_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 45px 0;
  
}


.work_section .work_container .box {
  width: 275px;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: row;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 20px 0;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 45px 10px;
  -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}
*/
.work_section .work_container .box .img-box {
  width: 150px;
}

.work_section .work_container .box .img-box img {
  width: 100%;
}

.work_section .work_container .box .name {
  margin-top: 10px;
}

/*
.work_section .work_container .box.b-1, .work_section .work_container .box.b-3 {
  -webkit-animation: odd-box-animate 2s infinite;
          animation: odd-box-animate 2s infinite;
}

.work_section .work_container .box.b-2, .work_section .work_container .box.b-4 {
  -webkit-animation: even-box-animate 2s infinite;
          animation: even-box-animate 2s infinite;
}
*/

/* Estilo para las cajas impares */
.work_section .work_container .box:nth-child(odd) {
  animation: odd-box-animate 1.5s ease-in-out infinite;
  /* Animación para elementos impares */
}

/* Estilo para las cajas pares */
.work_section .work_container .box:nth-child(even) {
  animation: even-box-animate 1.5s ease-in-out infinite;
  /* Animación para elementos pares */
}


@-webkit-keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
}

@keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  50% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  100% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
}

@-webkit-keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

.work_section .btn-box a {
  color: #ffffff;
}

.work_section .btn-box hr {
  background-color: #ffffff;
}

.contact_section input,
.contact_section select {
  width: 100%;
  border: 0;
  padding: 15px 12px;
  background-color: #f2f2f2;
  outline: none;
  margin: 10px 0;
}

.contact_section input::-webkit-input-placeholder,
.contact_section select::-webkit-input-placeholder {
  color: #3a3a3a;
}

.contact_section input:-ms-input-placeholder,
.contact_section select:-ms-input-placeholder {
  color: #3a3a3a;
}

.contact_section input::-ms-input-placeholder,
.contact_section select::-ms-input-placeholder {
  color: #3a3a3a;
}

.contact_section input::placeholder,
.contact_section select::placeholder {
  color: #3a3a3a;
}

.contact_section button {
  background-color: #e34825;
  color: #fff;
  border: none;
  border-radius: 25px;
  /* Agregamos bordes redondeados */
  padding: 15px 40px;
  /* Ajustamos el espaciado interno */
  font-size: 16px;
  /* Tamaño de fuente */
  font-weight: bold;
  /* Texto en negrita */
  cursor: pointer;
  /* Cambiamos el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease;
  /* Efecto de transición suave */
}

.contact_section button:hover {
  background-color: #0075f3;
  /* Cambiamos el color de fondo al pasar el mouse */
}

.client_section .client_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  border: 1px solid #cccccc;
  padding: 45px 35px 35px 25px;
  background-color: #ffffff;
  margin: 0 auto;
}

.client_section .client_container .detail-box p {
  text-align: center;
}

.client_section .client_container .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.client_section .client_container .client_id .img-box {
  width: 75px;
  margin-right: 10px;
}

.client_section .client_container .client_id .img-box img {
  width: 100%;
}

.client_section .client_container .client_id .name h5 {
  text-transform: uppercase;
}

.client_section .client_container .client_id .name h6 {
  color: #ff4f5a;
}

.info_section {
  background-color: #0b1635;
  color: #ffffff;
}

.info_section a {
  color: #ffffff;
}

.info_section h4 {
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #e34825;
}

.info_section .info-logo h2 {
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  margin-right: 15px;
}

.info_section .info-nav ul {
  padding-left: 15px;
}

.info_section .info-nav ul li {
  list-style-type: none;
  position: relative;
  margin: 3px 0;
}

.info_section .info-nav ul li::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 100%;
}

.info_section .info-contact h6 {
  color: #fdfdfd;
  font-size: 18px;
}

.info_section .info-contact .call {
  margin-top: 20px;
}

.info_section .discover ul {
  padding: 0;
}

.info_section .discover ul li {
  list-style-type: none;
  margin: 5px 0;
}

/* footer section*/
.footer_section {
  background-color: #ffffff;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.footer_section p {
  color: #171717;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #171717;
}

.instagram-icono {
  width: 28px;
  height: 28px;
}
.tik-tok-icono {
  width: 28px;
  height: 28px;
}
.x-icono {
  width: 30px;
  height: 30px;
}
.facebook-icono {
  width: 28px;
  height: 28px;
}
.social-box {
  margin-bottom: 25px;
  /* Agrega un margen inferior entre la caja de redes sociales y el formulario de búsqueda */
}
#search-input {
  margin-top: 20px;
  margin-left: -22px;
  margin-bottom: 20px;
  
}

.admin-link {
  text-decoration: none;
  color: #fffefe;
  margin-left: -18px;
  font-weight: bold;
  
}
.admin-link:hover {
  color: #ce621af5;
  /* Color de fondo al pasar el mouse */
}

.admin-link i {
  margin-left: 5px;
  font-size: 20px;
    
}


/* end footer section*/
/*# sourceMappingURL=style.css.map */

/* CSS login

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}


main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #f87153;

}

.caja__trasera div {
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button {
  margin-top: 30px;
}

.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera div p {
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.caja__trasera button:hover {
  background: #fff;
  color: #000000;
}

/*Formularios*/

.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;

  /*La transicion va despues del codigo JS*/
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #000000;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}




.formulario__login {
  opacity: 1;
  display: block;
}

.formulario__register {
  display: none;
}



@media screen and (max-width: 850px) {

  main {
    margin-top: 50px;
  }

  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }

  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }


  /*Formularios*/

  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }

  .contenedor__login-register form {
    position: relative;
  }
}





/*CALENDARIO*/

/* Cambiar el color de fondo del calendario */
.fc .fc-daygrid-day {
  background-color: #f0f8ff;
  /* Color de fondo personalizado */
}

/* Cambiar el color del texto de los días */
.fc .fc-daygrid-day-number {
  color: #333;
  /* Color del texto de los días */
}

/* Cambiar el color de los eventos */
.fc .fc-event {
  background-color: #007bff;
  /* Color de fondo del evento */
  color: #ffffff;
  /* Color del texto del evento */
  border: none;
  /* Quitar borde del evento */
}

/* Cambiar el color de los días de la semana */
.fc .fc-col-header-cell {
  background-color: #a3a39be6;
  /* Color de fondo de los días de la semana */
  color: #fff;
  /* Color del texto de los días de la semana */
}

.fc .fc-day-today {
  background-color: #d1cbc989 !important;
  /* Color de fondo para el día actual */
}

.fc .fc-day-today .fc-daygrid-day-number {
  color: #ff460e !important;
  /* Color del texto para el número del día actual */
  font-weight: bold;
  /* Hacer el número del día actual en negrita */
}



.capitalize-first::first-letter {
  text-transform: uppercase;
  /* Convertir solo la primera letra a mayúscula */
}

.calendarname {
  text-align: center;
  /* Centra el texto */
  margin-bottom: 30px;
  /* Espacio hacia abajo */
  padding: 20px;
  /* Espacio interno */
  background-color: #ffffff;
  /* Color de fondo */
  border-radius: 8px;
  /* Bordes redondeados */
}

.calendarname h1 {
  color: #0c4481;
  margin-bottom: 0px;
  display: inline;  /*linea debajo*/ 
  border-bottom: 6px solid #d84b0a;
  padding-bottom: 5px;
  font-weight: bold;
  border-radius: 5px;
}

.calendarname p {
  font-size: 18px;
  /* Tamaño del texto del párrafo */
  color: #333;
  /* Color del texto del párrafo */
}